{% extends 'home/base.html' %}
{% load custom_filters %}
{% load numbers %}
{% load static %}
{% block title %} 
movie_details
{% endblock title %}

{% block main %} 

<h1 style="margin-top: 80px;"><b>{{data.title}} </b> </h1> 
<h4 style="color: grey;"><i>~{{data.tagline}}</i></h4>
<div class="row">
  <div class="col-md-4 ">
    <img src="https://image.tmdb.org/t/p/w200/{{data.poster_path}}" alt=""> 
   
  </div>
    <div class="col-md-4 text-center">
      <div class="col-md-4 texr-center mt-5 ">
        <h4 style="font-size: 1.5rem;
        color: white;
        margin-left: 30px;
        font-family: 'Arial', sans-serif;
        text-shadow: 0 0 1.5rem white, 0 0 3.5rem white, 0 0 5rem white, 0 0 7rem #ff00de, 0 0 8rem #ff00de, 0 0 10rem #ff00de, 0 0 12rem #ff00de, 0 0 15rem #ff00de;">Watch Trailer </h4>
        <br> <br> <br><img class="" src="{% static 'images/arrow1.jpg' %}" alt="" width="130" style=" margin-left: 25px;">
      </div>
      </div>
      
    
    

   
  
  
  <div class="col-md-4 text-center" >
    <div>
      
    
        {% if video_id %}
        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen></iframe>
    {% else %}
    <h1 class="text-center">Trailer Not Found!!</h1>
    {% endif %}
       
    
  
     
  </div>
  </div>
</div> <hr>
<h2> <b>Overview</b> </h2>
<p>{{data.overview}}</p>
<hr>

<h2> <b>Genres</b> </h2>
<ul>
    {% for n in data.genres %}
    <li>{{n.name}}</li>
    {% endfor %}

</ul>
<hr>

<h2> <b>General Information</b> </h2>
<p>
    
    <strong>Release Date: </strong> {{data.release_date}} <br>
    <strong>Budget: </strong> ${{data.budget|format_num }} <br>
    <strong>Revenue: </strong> ${{data.revenue|format_num }} <br>
    <strong> Runtime: </strong> {{data.runtime}} min<br>
    

</p>
<hr>
<h2> <b>Recommendations</b> </h2>
<div class="row text-dark">

    {% for r in recommendations.results %}
    <div class="card mb-5 m-3" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/w200/{{r.poster_path}}" class="card-img-top" alt="...">
        <div class="card-body">
          {% if not r.name %}
          <h5 class="card-title"> <b>{{r.title}}</b> </h5>
          {% else %}
          <h5 class="card-title"><b>{{r.name}}</b> </h5>
          {% endif %}
          <p class="card-text">{{r.overview|range_filter|linebreaks}}</p>
         
          <a href="/{{ type }}/{{ r.id }}/" class="btn btn-primary">View Details</a>
          
        </div>
      </div>
      {% endfor %} 
     
</div>

{% endblock main %}